<div class="navbar navbar-warning">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="javascript:void(0)">Antony's House</a>
        </div>
        <div class="navbar-collapse collapse navbar-inverse-collapse">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active"><a href="javascript:void(0)" ui-sref=".dashboard"><i class="material-icons">apps</i> Dashboard</a></li>
                <li ui-sref-active="active"><a href="javascript:void(0)"><i class="material-icons">show_chart</i> Informações de Consumo</a></li>
                <li ui-sref-active="active"><a href="javascript:void(0)" ui-sref=".accesshistory"><i class="material-icons">history</i> Acessos à residência</a></li>
                <li ui-sref-active="active"><a href="javascript:void(0)" ui-sref=".users"><i class="material-icons">group</i> Usuários</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="javascript:void(0)" ng-click="authLogout()"><i class="material-icons">power_settings_new</i> Sair</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container well well-lg" ui-view></div>

