<h1 xmlns="http://www.w3.org/1999/html">Usuários</h1>

<div class="row">
    <div class="col-md-5">

        <div class="panel panel-warning">
            <div class="panel-heading"><h4>Adicionar Usuário</h4></div>
            <div class="panel-body">
                <form ng-submit="$ctrl.addUser(userModel)">
                <fieldset>
                    <div class="form-group has-warning">
                        <label for="inputUsername" class="col-md-4 control-label">Usuário</label>

                        <div class="col-md-8">
                            <input ng-model="userModel.username"
                                   type="text"
                                   class="form-control"
                                   id="inputUsername"
                                   placeholder="joaodasilva"
                                   required>
                        </div>
                    </div><br/>
                    <div class="form-group has-warning">
                        <label for="inputName" class="col-md-4 control-label">Nome</label>

                        <div class="col-md-8">
                            <input ng-model="userModel.displayName"
                                   type="text"
                                   class="form-control"
                                   id="inputName"
                                   placeholder="João da Silva">
                        </div>
                    </div><br/>
                    <div class="form-group has-warning">
                        <label for="inputpassword" class="col-md-4 control-label">Senha</label>

                        <div class="col-md-8">
                            <input ng-model="userModel.password"
                                   type="password"
                                   class="form-control"
                                   id="inputPassword"
                                   placeholder="Senha"
                                   required>
                        </div>
                    </div><br/>
                    <div class="form-group has-warning">
                        <label class="col-md-4  control-label">Categoria</label>

                        <div class="col-md-8">
                            <div class="radio radio-primary">
                                <label>
                                    <input ng-model="userModel.role"
                                           type="radio"
                                           name="role"
                                           id="optionsRadios1"
                                           value="admin" required>
                                    Administrador
                                </label>
                            </div>
                            <div class="radio radio-primary">
                                <label>
                                    <input ng-model="userModel.role"
                                           type="radio"
                                           name="role"
                                           id="optionsRadios2"
                                           value="user" required>
                                    Morador
                                </label>
                            </div>
                            <div class="radio radio-primary">
                                <label>
                                    <input ng-model="userModel.role"
                                           type="radio"
                                           name="role"
                                           id="optionsRadios3"
                                           value="guest"
                                           checked="checked" required>
                                    Convidado
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group has-warning">
                        <label for="inputAccessCode" class="col-md-4 control-label">Código de Acesso</label>

                        <div class="col-md-8">
                            <input ng-model="userModel.auth_code"
                                   type="text"
                                   class="form-control"
                                   id="inputAccessCode"
                                   placeholder="C@D3">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="pull-right">
                            <button type="reset" class="btn btn-default">Cancel</button>
                            <button ng-disabled="userModel.username.length < 6 || userModel.password.length < 6 || userModel.role == ''"
                                    type="submit"
                                    class="btn btn-warning">Cadastrar</button>
                        </div>
                    </div>

                </fieldset>
                </form>
            </div>
        </div>

    </div>

    <div class="col-md-6 col-md-offset-1 list-group row">
        <div class="panel panel-warning">
            <div class="panel-heading"><h4>Usuários Cadastrados</h4></div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="form-group has-warning">
                            <input type="text" class="form-control" placeholder="Buscar..." ng-model="searchTerm">
                        </div>
                    </div>
                </div>

                <div ng-repeat="u in $ctrl.users | filter : searchTerm">
                    <div class="list-group-item">
                        <div class="row-action-primary"><i class="material-icons">person</i></div>
                        <!--<div class="row-picture">-->
                            <!--<img class="circle" ng-src="{{u.imageUrl}}">-->
                        <!--</div>-->
                        <div class="row-content">
                            <h4 class="list-group-item-heading">{{u.displayName || u.username}} <small><i>{{u.username}}</i></small></h4>
                            <p class="list-group-item-text">{{u.role}}</p>
                            <div class="action-secondary">
                                <button ng-click="$ctrl.deleteUser(u)"
                                        class="btn btn-danger btn-xs btn-raised">
                                    <i class="material-icons">delete</i> Remover
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-separator"></div>
                </div>
            </div>
        </div>

    </div>
</div>


<script type="text/ng-template" id="userModalConfirmDelete.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$ctrlDialog.cancel()" aria-hidden="true">×</button>
        <h4 class="modal-title">Atenção</h4>
    </div>
    <div class="modal-body">
        <p>Tem certeza que deseja remover o usuário <b>{{$ctrlDialog.user.username}}?</b></p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$ctrlDialog.cancel()">Cancelar</button>
        <button type="button" ng-click="$ctrlDialog.ok()" class="btn btn-danger">Confirmar</button>
    </div>
</script>